---
http_interactions:
- request:
    method: get
    uri: https://gds-way.cloudapps.digital/api/pages.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"5b89718a-11e9"'
      Last-Modified:
      - Fri, 31 Aug 2018 16:49:14 GMT
      X-Vcap-Request-Id:
      - 4c7a189d-210c-445e-4310-ea25f6943bbf
    body:
      encoding: ASCII-8BIT
      string: '[{"title":"How to review code","url":"https://gds-way.cloudapps.digital/manuals/code-review-guidelines.html","review_by":null,"owner_slack":"#gds-way"},{"title":"Licensing","url":"https://gds-way.cloudapps.digital/manuals/licensing.html","review_by":null,"owner_slack":"#gds-way"},{"title":"Setting
        up logging","url":"https://gds-way.cloudapps.digital/manuals/logging.html","review_by":null,"owner_slack":"#gds-way"},{"title":"Programming
        language style guides","url":"https://gds-way.cloudapps.digital/manuals/programming-languages.html","review_by":null,"owner_slack":"#gds-way"},{"title":"Java
        styleguide","url":"[...]
